h1{
  font-family: Ubuntu, sans-serif;
  letter-spacing: -3px;
}

h2{
  font-family: Ubuntu,sans-serif;
  letter-spacing: -1px;
}

h3{
  font-family: Ubuntu,sans-serif;
  letter-spacing: -1px;
}

body {
  font-family: Lora, serif;
  font-size: 16px;
}

p {
  text-align: justify;
}

html {
  scroll-behavior: smooth;
}


/*/-------------------------------------------------------------------------------------------------/*/
/*/ SLIDESHOW/*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dropdown, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*/ SLIDESHOW/*/
/*/-------------------------------------------------------------------------------------------------/*/

/*-------------------------------------------------------------------------------------------------*/
/*Navigation bar*/

/* Style the top navigation bar */
#topnav {
  overflow: hidden;
  background-color: #333;
  border: 10px solid;
  outline: black;
  margin-bottom: 10px;
}

/* Style the topnav links */
#topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.link{
    text-align: right;
  color: #f2f2f2;
}

#link2{
  text-align: right;
  color: #f2f2f2;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 60px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   border: 5px solid;
  outline: black;
}

/* Links inside the dropdown */
.dropdown-content a {
 float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
  color: black;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*-------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------*/
/* Introduction to streaming*/

.column {
  float: left;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------*/
/*column cards*/

/* Float four columns side by side */
.columncards {
 float: left;
   float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columncards {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.header{
  color: #f2f2f2;
  background-color: #333;
  border: 10px solid;
  border-color: black;
  text-align: center;
}

#head{
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
}


/*------------------------------------------------------------------------------------------------------------------------*/
/*Pie chart*/

.center{
  margin: auto;
  width: 50%;
  padding: 10px;

}

#piechart{
      border: 5px solid black;

}

#pietext{
  text-align: center;

}

.pielink:hover{
  color: #26428b;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*buttons*/

.button {
  background-color: #333;
  cursor: pointer;
}



h5{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
    color: #ebebe0;

}

/*----------------------------------------------------------------------------------------------------------------------*/
/* double column */

/* Create two equal columns that floats next to each other */
.column2 {
  width: 100%;
  padding: 10px;

}

/* Clear floats after the columns */
#row:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/*sidenav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
 color: #f2f2f2;
 display: block;
  transition: 0.3s;
}

.sidenav a:hover {
background-color: #ddd;
  color: black;
  }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*----------------------------------------------------------------------------------------------------------------------*/

